<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senbao.mapper.MaterialMapper">

    <resultMap id="BaseResultMap" type="com.senbao.pojo.Material">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        description
    </sql>

    <select id="getMaterial" resultType="com.senbao.pojo.Material">
        select * from material
    </select>
</mapper>
