<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.senbao.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.senbao.pojo.Order">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="totalPrice" jdbcType="VARCHAR"/>
        <result property="customerName" column="customerName" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="progress" column="progress" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,address,offer,buyer,
        phone,progress,create_time
    </sql>

    <insert id="insertOrder" parameterType="com.senbao.pojo.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order` ( address, totalPrice, customerName, phone, progress, create_time )
        VALUES  ( #{TableOrder.address}, #{TableOrder.totalPrice}, #{TableOrder.customerName}, #{TableOrder.phone} ,#{TableOrder.progress}, #{TableOrder.createTime} )
    </insert>

    <update id="updateOrderById" parameterType="map">
        UPDATE `order`
        SET
            customerName = #{order.customerName},
            address = #{order.address},
            phone = #{order.phone},
            totalPrice = #{order.totalPrice},
            create_time = #{order.createTime},
            progress = #{order.progress}
        WHERE id = #{id};
    </update>

    <delete id="deleteOrderById">
        delete from `order` where id = #{id}
    </delete>

    <select id="selectOrderCount" resultType="java.lang.Long">
        select count(*) from `order`
    </select>

    <select id="selectOrderPage" resultType="com.senbao.pojo.Order">
        SELECT * FROM `order`
                          LIMIT #{page}, #{pageSize};
    </select>

    <select id="MonthlyTotalOrderPrice" resultType="java.util.HashMap">
        SELECT
            DATE_FORMAT(create_time, '%Y-%m') AS month,  -- 格式化为 "年-月" 的形式
    SUM(totalPrice) AS monthlyOrderTotals              -- 计算每个月的订单总价
        FROM
            `order`
        WHERE
            YEAR(create_time) = YEAR(CURDATE())         -- 只选择今年的数据
        GROUP BY
            DATE_FORMAT(create_time, '%Y-%m')           -- 按月份分组
        ORDER BY
            month;                                     -- 按月份排序
    </select>

</mapper>