<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senbao.mapper.SupplierMapper">

    <resultMap id="BaseResultMap" type="com.senbao.pojo.Supplier">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="company" column="company" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,
        company
    </sql>

    <insert id="insertSupplier" parameterType="com.senbao.pojo.Supplier" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `supplier` ( name, phone, company )
        values ( #{TableSupplier.name}, #{TableSupplier.phone}, #{TableSupplier.company} )
    </insert>

    <update id="UpdateSupplierById">
        UPDATE `supplier`
        SET
            name = #{supplier.name},
            phone = #{supplier.phone},
            company = #{supplier.company}
        WHERE id = #{id}
    </update>

    <delete id="deleteSupplierById">
        delete from `supplier` where id = #{id}
    </delete>

    <select id="selectSupplierCount" resultType="java.lang.Long">
        select count(*) from supplier;
    </select>

    <select id="selectSupplierPage" resultType="com.senbao.pojo.Supplier">
        SELECT * from supplier
            LIMIT #{offset}, #{pageSize};
    </select>

    <select id="getAll" resultType="com.senbao.pojo.Supplier">
        select * from `supplier`
    </select>

</mapper>
