<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.senbao.mapper.UserMapper">
    
    <resultMap id="BaseResultMap" type="com.senbao.pojo.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="salary" column="salary" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="joinedDate" column="joined_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_list">
        id,username,password,phone,role,salary,address,avatar,joined_date
    </sql>

    <select id="findByPhone" resultType="com.senbao.pojo.User">
        select * from user where phone = #{phone}
    </select>

    <select id="selectUserCount" resultType="java.lang.Long">
        select count(*) from user
    </select>

    <select id="selectUserPage" resultType="com.senbao.pojo.User">
        SELECT * FROM `user`
                          LIMIT #{offset}, #{limit};
    </select>

    <select id="selectUserCountByRole" resultType="java.lang.Long">
        SELECT COUNT(*) FROM user WHERE role = #{role}
    </select>

    <select id="selectUserPageByRole" resultType="com.senbao.pojo.User">
        SELECT * FROM user WHERE role = #{role} LIMIT #{offset}, #{limit}
    </select>


</mapper>